footer {
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    margin-top: 10px;
}
footer p {
    margin-top: 24px;
}
@media only screen and (max-width: 999px){
	footer p{
		font-size: 18px;
		color: white;
		margin-top: 21px;
	}
	footer{
		background-color: #FF5A5F;
		position: relative;
	}
}